<!doctype html>
<html >
<head >
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
    <meta name="author" content="">
     <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Scriptor</title>
<link rel="shortcut icon" type="image/png" href="@{'/public/images/icone.png'}" />

 	<link href="@{'/public/stylesheets/bootstrap.min.css'}" rel="stylesheet">
 	<link href="@{'/public/stylesheets/style.css'}" rel="stylesheet">
 	<link href="@{'/public/stylesheets/layout.css'}" rel="stylesheet">
 	<link href="@{'/public/stylesheets/main.css'}" rel="stylesheet">
 	<script src="@{'/public/javascripts/jquery-2.0.3.min.js'}"></script>
<script src="@{'/public/javascripts/jquery.infieldlabel.min.js'}"></script>
<script src="@{'/public/javascripts/jquery-paged-scroll.js'}"></script>
<script src="@{'/public/javascripts/bootstrap.min.js'}"></script>




<script src="@{'/public/javascripts/w2ui-1.2.min.js'}"></script>


 		    <!-- Custom styles for this template -->
    <style type="text/css">
    
#contextMenu {
    position: absolute;
    display:none;
}
#thumbs img{
		top:-21px;
		left:-30px;
	}
.done-true {
  text-decoration: line-through;
 
}
    </style>
</head>
#{doLayout /}



</html>